body{
    font-family: 'Source Sans Pro', sans-serif;
}
#headding{
    padding-top: 1%;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}
#input-div{
   margin-top: 2%;
    font-size: 18px;
    text-align: center;
    color: darkslategrey;
    position: relative;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:2%;
    padding-right: 2%;
}

#btn-ok{
    font-size: 16px;
    padding: 5px 20px;
    border-color: dodgerblue;
    border-radius: 10px;
    background-color: dodgerblue;
    color: floralwhite;
}
#data-table-div{
    display: none;
    padding-top: 2%;
    box-sizing: border-box;
}
#error-message-div{
    display: none;
    text-align: center;
    font-weight: 600;
    margin-top: 15%;
    font-size: 25px;
    color: brown;
}
#display-status{
    font-weight: 600;
    font-size: 32px;
}
#table-wrapper {
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    width: 60%;
    margin:0 auto;
    margin-top: 1%;
  }
  
  #table-headers {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }
  
  #table-data {
    max-height: 500px;
    overflow-y: overlay;
  }
  
  @-moz-document url-prefix() {
    #table-data {
      overflow-y: scroll;
    }
  }
  
  #table-data tr {
    cursor: pointer;
  }
  
  #table-data tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
  }
  
  th {
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  td {
    font-size: 16px;
    color: black;
    font-weight: 600;
    line-height: 1.4;
    padding-top: 16px;
    padding-bottom: 16px;
}
#headcolumn1 {
    width: 170px;
    text-align: center;
}
  
#headcolumn2 {
    width: 170px;
    text-align: center;
}
  
#headcolumn3 {
    width: 170px;
    text-align: center;
} 
.column1 {
    width: 170px;
}
  
.column2 {
    width: 170px;
}
  
.column3 {
    width: 170px;
}