body{
    font-family: 'Source Sans Pro', sans-serif;
}
#add-data{
    margin:20% 0 0 40%;
    padding: 15px;
    width: 333px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 18px;
}
#data-table-div{
    display: none;
}
#table-wrapper {
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    width: 60%;
    margin:0 auto;
    margin-top: 1%;
  }
  
  #table-headers {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }
  
  #table-data {
    max-height: 500px;
    overflow-y: overlay;
  }
  
  @-moz-document url-prefix() {
    #table-data {
      overflow-y: scroll;
    }
  }
  
  #table-data tr {
    cursor: pointer;
  }
  
  #table-data tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
  }
  
  th {
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  td {
    font-size: 16px;
    color: black;
    font-weight: 600;
    line-height: 1.4;
    padding-top: 16px;
    padding-bottom: 16px;
}
#headcolumn1 {
    width: 170px;
}
  
#headcolumn2 {
    width: 170px;
}
  
#headcolumn3 {
    width: 170px;
} 
.column1 {
    width: 170px;
}
  
.column2 {
    width: 170px;
}
  
.column3 {
    width: 170px;
}

  